@model AlisFirst.Models.Borrower

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Borrower</legend>

    <div class="display-label">BarCode</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BarCode)
    </div>

    <div class="display-label">GivenName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GivenName)
    </div>

    <div class="display-label">Surname</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Surname)
    </div>

    <div class="display-label">BorrowerExpiryDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BorrowerExpiryDate)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">PhoneNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNumber)
    </div>

    <div class="display-label">IsEmployee</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsEmployee)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.BorrowerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
