@model AlisFirst.Areas.AMS.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="left">
</div>

<div style="display:inline-block">
    <p>You can perform these tasks</p>
    <ul>

    <li>@Html.ActionLink("Create Asset", "Create","Asset")</li>
    <li>@Html.ActionLink("Create Employee", "Create", "Employee")</li>
    <li>@Html.ActionLink("Update Lookup Tables", null)</li>
    <li>@Html.ActionLink("Warranty Expire Report", "WarrantyExpireReport", "Report")</li>
    </ul>
</div>

<div style="display:inline-block">
    <p>With an Asset (Enter Barcode)</p>
    @using (Html.BeginForm())
    {        
        @Html.ValidationSummary(true)
        
        @Html.EditorFor(i => i.Barcode)<br />
        @Html.ValidationMessageFor(i => i.Barcode)<br />
   
        <input type="submit" name="Maintain" value="Maintain" /><br />            
        <input type="submit" name="Employee" value="Employee" /><br />
        <input type="submit" name="Location" value="Location" /><br />
        <input type="submit" name="Status" value="Status" /><br />
    }
</div>


