@model AlisEF102.Models.Loan

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Loan</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.LoanDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LoanDate)
            @Html.ValidationMessageFor(model => model.LoanDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DueDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DueDate)
            @Html.ValidationMessageFor(model => model.DueDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReturnDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReturnDate)
            @Html.ValidationMessageFor(model => model.ReturnDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AssetID, "Asset")
        </div>
        <div class="editor-field">
            @Html.DropDownList("AssetID", String.Empty)
            @Html.ValidationMessageFor(model => model.AssetID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BorrowerID, "Borrower")
        </div>
        <div class="editor-field">
            @Html.DropDownList("BorrowerID", String.Empty)
            @Html.ValidationMessageFor(model => model.BorrowerID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
