@model AlisEF102.Models.Loan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Loan</legend>

    <div class="display-label">LoanDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoanDate)
    </div>

    <div class="display-label">DueDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DueDate)
    </div>

    <div class="display-label">ReturnDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReturnDate)
    </div>

    <div class="display-label">Asset</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Asset.BarCode)
    </div>

    <div class="display-label">Borrower</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Borrower.BarCode)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.LoanID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
