@model IEnumerable<AlisEF102.Models.AssetModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            AssetModelName
        </th>
        <th>
            Manufacturer
        </th>
        <th>
            Category
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AssetModelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manufacturer.ManufacturerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AssetModelID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AssetModelID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AssetModelID })
        </td>
    </tr>
}

</table>
