@model IEnumerable<AlisEF102.Models.Asset>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            BarCode
        </th>
        <th>
            SerialNum
        </th>
        <th>
            AssetName
        </th>
        <th>
            DateRecieved
        </th>
        <th>
            WarrantyExpires
        </th>
        <th>
            PurchaseCost
        </th>
        <th>
            IsLoanable
        </th>
        <th>
            Supplier
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BarCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SerialNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRecieved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WarrantyExpires)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsLoanable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AssetID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AssetID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AssetID })
        </td>
    </tr>
}

</table>
