@model IEnumerable<AlisEF102.Models.Repair>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            IssuedDate
        </th>
        <th>
            TechnicianName
        </th>
        <th>
            Result
        </th>
        <th>
            Asset
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IssuedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TechnicianName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Result)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asset.BarCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RepairID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RepairID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RepairID })
        </td>
    </tr>
}

</table>
