@model AlisFirst.Models.Asset

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Asset</legend>

    <div class="display-label">BarCode</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BarCode)
    </div>

    <div class="display-label">SerialNum</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SerialNum)
    </div>

    <div class="display-label">Supplier</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Supplier.SupplierName)
    </div>

    <div class="display-label">AssetModel</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AssetModel.AssetModelName)
    </div>

    <div class="display-label">DateRecieved</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateRecieved)
    </div>

    <div class="display-label">WarrantyExpires</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WarrantyExpires)
    </div>

    <div class="display-label">PurchaseCost</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PurchaseCost)
    </div>

    <div class="display-label">IsLoanable</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsLoanable)
    </div>

    <div class="display-label">Notes</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Notes)
    </div>

    <div class="display-label">IsActive</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActive)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AssetID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
