@model AlisFirst.Areas.AMS.ViewModels.AssetsViewModel

@{
    ViewBag.Title = "Index";
    
}

<h2>Index</h2>

<div>
    @using (Html.BeginForm())
    {
        @Html.TextBox("searchKey") 
        
             

        <input type="submit" name="Search" value="Search" />
                
    }
</div>

<p>
    @Html.ActionLink("Create New", "Create")

    
</p>

@*<div>
    <span>Status</span><br />
    @foreach (var item in ViewBag.Status as List<AlisFirst.Models.AssetStatus>)
    {
        //@Html.ActionLink(item.AssetStatusName, "Index", )
        
        <br />  
    }

    <span>Locations</span><br />
    @foreach (var item in ViewBag.Location as List<AlisFirst.Models.Location>)
    {
        @Html.ActionLink(item.LocationName, "Index", new { LocationID = item.LocationID.ToString() }, null)
        
        <br />  
    }
    
</div>*@





@if (!Model.Assets.Any())
{
    <div>Nothing to display, search again.</div>  
}
else
{

    <table>
        <tr>
            <th>BarCode
            </th>
            <th>SerialNum
            </th>
            <th>Supplier
            </th>
            <th>AssetModel
            </th>
            <th>DateRecieved
            </th>
            <th>WarrantyExpires
            </th>
            <th>PurchaseCost
            </th>
            <th>IsLoanable
            </th>
            <th>Notes
            </th>
            <th>IsActive
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Assets)
        {
            <tr>
                <td>
                    @item.BarCode
                </td>
                <td>
                    @item.SerialNum
                </td>
                <td>
                    @item.Supplier.SupplierName
                </td>
                <td>
                    @item.AssetModel.AssetModelName
                </td>
                <td>
                    @item.DateRecieved
                </td>
                <td>
                    @item.WarrantyExpires
                </td>
                <td>
                    @item.PurchaseCost
                </td>
                <td>
                    @item.IsLoanable
                </td>
                <td>
                    @item.Notes
                </td>
                <td>
                    @item.IsActive
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.AssetID }) |
            @Html.ActionLink("Details", "Details", new { id = item.AssetID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.AssetID })
                </td>
            </tr>
        }
        
    </table>
}



