   <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Assets", "Index", "Assets")</li>
                    <li>@Html.ActionLink("Loans", "Index", "Loans")</li>
                    <li>@Html.ActionLink("Borrowers", "Index", "Borrowers")</li>
                </ul>