@model IEnumerable<AlisFirst.Models.AssignedStatus>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            AssignedDate
        </th>
        <th>
            Asset
        </th>
        <th>
            AssetStatus
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AssignedStatusID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AssignedStatusID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AssignedStatusID })
        </td>
        <td>
			@String.Format("{0:g}", item.AssignedDate)
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.Asset).ToString()
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.AssetStatus).ToString()
        </td>
    </tr>
}

</table>


