<ul id="menu">    
    <li>@Html.ActionLink("Home", "Index", "Dashboard", new {area = ""}, null)</li>    
    <li>@Html.ActionLink("Dashboard", "Index", "Dashboard", new {area = "AMS"}, null)</li>    
    <li>@Html.ActionLink("Asset Models", "Index", "AssetModels", new {area = "AMS" }, null)</li>
    <li>@Html.ActionLink("Assets", "Index", "Asset")</li>
    <li>@Html.ActionLink("Reports", "Index", "Report")</li>
</ul>
