@model AlisFirst.Areas.LMS.ViewModels.EditBorrowerViewModel

@{
    ViewBag.Title = "Edit Borrower";
}

<h2>Edit Borrower</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Borrower Details</legend>

        @Html.HiddenFor(model => model.BorrowerID)
		@Html.Partial("_Edit", Model)

        <div class="clear"></div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>

    <div>
        <a href="javascript:goBack()" class="button_green">Cancel</a>
    </div>
    
    <table>
        <tr>
            <th>
                Loan Date
            </th>
            <th>
                Due Date
            </th>
            <th>
                Return Date
            </th>
            <th>
                Asset ID
            </th>
        </tr>
        @foreach (var item in Model.Loans)
        {
            <tr>
                <td>
                    @item.LoanDate
                </td>
                <td>
                    @item.DueDate
                </td>
                <td>
                    @item.ReturnDate
                </td>
                <td>
                    @item.AssetID
                </td>
            </tr>
        }
    </table>
}


