@model AlisFirst.Areas.LMS.ViewModels.ListBorrowerViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    <br />
    @using (Html.BeginForm())
    {
        @Html.TextBox("SearchFor")
        <input type="submit", value="Search" />
    }
</p>
<table>
    <tr>
        <th></th>
        <th>
            Surname
        </th>
        <th>
            Bar Code
        </th>
        <th>
            Given Name
        </th>
        <th>
            Borrower Expiry Date
        </th>
        <th>
            Email
        </th>
        <th>
            Phone Number
        </th>
        <th>
            Employee
        </th>
    </tr>

@foreach (var item in Model.ListOfBorrowers ) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BorrowerID })
        </td>
        <td>
			@item.Surname
        </td>
        <td>
			@item.BarCode
        </td>
        <td>
			@item.GivenName
        </td>
        <td>
			@String.Format("{0:dd/MM/yy}", item.BorrowerExpiryDate)
        </td>
        <td>
			@item.Email
        </td>
        <td>
			@item.PhoneNumber
        </td>
        <td>
			@item.IsEmployee
        </td>
    </tr>
}

</table>


