@model IEnumerable<AlisFirst.Models.Loan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            LoanDate
        </th>
        <th>
            DueDate
        </th>
        <th>
            ReturnDate
        </th>
        <th>
            Asset
        </th>
        <th>
            Borrower
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LoanID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LoanID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LoanID })
        </td>
        <td>
			@String.Format("{0:g}", item.LoanDate)
        </td>
        <td>
			@String.Format("{0:g}", item.DueDate)
        </td>
        <td>
			@String.Format("{0:g}", item.ReturnDate)
        </td>
        <td>
            @String.Format("{0:g}", item.Asset)
        </td>
        <td>
			@(item.Borrower == null ? "None" : item.Borrower.Surname)
        </td>
    </tr>
}

</table>


