@model AlisFirst.ViewModels.EditAssetModelViewModel

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>AssetModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.AssetModelID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AssetModelID) @*This needs to be made readonly*@
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AssetModelName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AssetModelName)
            @Html.ValidationMessageFor(model => model.AssetModelName)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
