@model IEnumerable<AlisFirst.Models.Repair>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            IssuedDate
        </th>
        <th>
            TechnicianName
        </th>
        <th>
            Result
        </th>
        <th>
            Asset
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RepairID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RepairID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RepairID })
        </td>
        <td>
			@String.Format("{0:g}", item.IssuedDate)
        </td>
        <td>
			@item.TechnicianName
        </td>
        <td>
			@item.Result
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.Asset).ToString()
        </td>
    </tr>
}

</table>


