@model IEnumerable<AlisFirst.Models.Asset>

@{
    ViewBag.Title = "Index";
}

<h2>Assets List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Bar Code
        </th>
        <th>
            Serial Num
        </th>
        <th>
            Supplier 
        </th>
        <th>
            Name
        </th>
        <th>
            Date Recieved
        </th>
        <th>
            Warranty Expires
        </th>
        <th>
            Purchase Cost
        </th>
        <th>
             Loanable
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BarCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SerialNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRecieved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WarrantyExpires)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsLoanable)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AssetID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AssetID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AssetID })
        </td>
    </tr>
}
