@model AlisFirst.Areas.AMS.ViewModels.DeleteEmployeeViewModel

@{
    ViewBag.Title = "Are you sure you wish to delete this?";
}

<h2>Confirm Deletion</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Employee Details</legend>

    <div class="display-label">Bar Code</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BarCode)
    </div>

    <div class="display-label">Surname</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Surname)
    </div>

    <div class="display-label">Given Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GivenName)
    </div>

    <div class="display-label">Expiry Date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BorrowerExpiryDate)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">Phone Number</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNumber)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
