@model AlisFirst.Areas.AMS.ViewModels.ListEmployeeViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
    @using(Html.BeginForm())
    {
        @Html.TextBoxFor(model => model.SearchKey)
        <input type="submit" value="Search" />
    }
<table>
    <tr>
        <th>

        </th>
        <th>
            Bar Code
        </th>
        <th>
            Surname
        </th>
        <th>
            Given Name
        </th>
        <th>
            Borrower Expiry Date
        </th>
        <th>
            Email
        </th>
        <th>
            Phone Number
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.ListOfEmployees) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BorrowerID })
        </td>
            @Html.HiddenFor(modelItem => item.BorrowerID)
        <td>
            @Html.DisplayFor(modelItem => item.BarCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GivenName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BorrowerExpiryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
    </tr>
}

</table>
