@model IEnumerable<AlisFirst.Models.AssetCondition>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Description
        </th>
        <th>
            IssuedDate
        </th>
        <th>
            Asset
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AssetConditionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AssetConditionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AssetConditionID })
        </td>
        <td>
			@item.Description
        </td>
        <td>
			@String.Format("{0:g}", item.IssuedDate)
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.Asset).ToString()
        </td>
    </tr>
}

</table>


