@model AlisFirst.Areas.AMS.ViewModels.AssignedLocationVM

@using (Ajax.BeginForm("CreateLocation", new AjaxOptions { UpdateTargetId = "location-history" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.HiddenFor(model => model.AssignedLocation.AssetID)
       <div class="editor-label">
            @Html.LabelFor(model => model.AssignedLocation.AssignedLocationDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AssignedLocation.AssignedLocationDate)
            @Html.ValidationMessageFor(model => model.AssignedLocation.AssignedLocationDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AssignedLocation.LocationID, "Location")
        </div>
        <div class="editor-field">
            @Html.DropDownList("AssignedLocation.LocationID", Model.Locations,"Choose an option")
            @Html.ValidationMessageFor(model => model.AssignedLocation.LocationID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

