@* Views\Asset\Edit.cshtml *@
@model AlisFirst.Areas.AMS.ViewModels.AssetMaintain

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Asset @Model.AssetToEdit.BarCode </h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div id="edit-asset" class="related-items">
@Html.Partial("_AssetEdit",Model.AssetToEdit)
    </div>

<div id="repair-history" class="related-items">
@Html.Partial("_AssetRepairHistory", Model.AssetRepairs)
    </div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>