@model IEnumerable<AlisFirst.Models.Asset>

@{
    ViewBag.Title = "Index";
}

<h2>Assets Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Bar Code
        </th>
        <th>
            Serial Number
        </th>
        <th>
            Supplier
        </th>
        <th>
            Date Recieved
        </th>
        <th>
            Warranty Expires
        </th>
        <th>
            Purchase Cost
        </th>
        <th>
            Loanable
        </th>
        <th>
		Check List Items
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AssetID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AssetID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AssetID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BarCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SerialNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRecieved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WarrantyExpires)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsLoanable)
        </td>
        <td>
			@(item.CheckListItems == null ? "None" : item.CheckListItems.Count.ToString())
        </td>
@*        <td>
			@item.BarCode
        </td>
        <td>
			@item.SerialNum
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.Supplier).ToString()
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.AssetModel).ToString()
        </td>
        <td>
			@String.Format("{0:g}", item.DateRecieved)
        </td>
        <td>
			@String.Format("{0:g}", item.WarrantyExpires)
        </td>
        <td>
			@String.Format("{0:F}", item.PurchaseCost)
        </td>
        <td>
			@item.IsLoanable
        </td>*@
    </tr>
}

</table>
